cat > ~/pidog/.gitignore << 'EOF'
.cache/
__pycache__/
*.pyc
*.pkl
*.wav
*.log
*.pt
*.npz
*.pkl
mesa_cache.idx
face_data.pkl
deploy.prototxt
yolov8n-pose.pt 
training_data.npz
known_faces/
.vscode/
*.onnx
*.bin
.lgd-nfy0
examples/img_input.jpeg
examples/img_input.jpeg
